.mainContainer{
    width: 100%;
    display:flex;
   
}
.leftSideBarContainer{
    flex:3;
    background-color: rgba(211, 211, 211, 0.468);
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    scrollbar-width: thin;
    scrollbar-color: gray rgba(128, 128, 128, 0.567);
    
}

.feedContainer {
    flex: 5
}
.rightSideContainer {
    flex: 4
}