.sideBarList{
    list-style: none;
    margin-left: 40px;
    font-weight: 900 !important;
    font-size: 15px;
    color: #30BCED;
}
.sideBarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;

}
.sideBarIcon{
    margin-right: 20px;
}
.sideBtnWithHr{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: center;
}
.hrHolder{
    width: 95%;
}

.sideBarMoreBtn{
   
    padding-left: 30px;
    padding-right: 30px;
    background-color: #30BCED;;
    color:white;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
    font-weight:900;
    border-radius: 10px;
    border-color: #30BCED;
    border-width: 5px;
    display: flex;
    align-items: center;
}
.sideBarDivider{
    color: gray;
}
h2{
    text-align: center;
}
.friendName{
    font-weight: bold;
}
.friendPic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.friendPicHolder{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    
}
.friendMesssagePreview{
    display: inline-block;
}
.friendAndMesssage{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.messageHeading{
    font-weight: 900;
}
.friendStatus{
    width: 10px;
    height: 10px;
    background-color: rgb(8, 244, 8);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
        right:0px;
        top: 1px;
        z-index: 99;
}
.messageListItem{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.messageList{
    list-style: none;
}
.newMessages{
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.48);
    border-style: solid;
    margin: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: -4px 4px 18px -5px rgba(0, 0, 0, 0.75);
    
    
}
    .sideBarMsgHeader{
        width: 100%;
        border-bottom-width: 2px;
        border-bottom-color: rgba(0, 0, 0, 0.48);
        border-bottom-style: solid;
        background-color: #30BCED;
        height: 100%;
        color: white;
        display: flex;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        
    }
.sideBarMsgH2{
    margin-left: 10px;
    
}
.messagePreview{
    font-family: 'Glass Antiqua', cursive;
    font-size: large;
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 80%;

}
.messagePreviewCount{
    background-color: #30BCED;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding:5px;
    display: inline-block;
}
.msgCount{
    display: flex;
    align-items:center;
    justify-content: center;
    font-weight: bold;
    font-family: Roboto;
    font-size: 14px;
}